/*place global styles here */
html,
body {
    @apply h-full overflow-hidden;
}

@font-face {
    font-family: 'RobotoFlex';
    src:url('/fonts/RobotoFlex.ttf');
}

@font-face {
    font-family: 'RobotoMono';
    src:url('/fonts/RobotoMono.ttf');
}

:root {
    --theme-font-family-base: 'RobotoFlex';
    --theme-font-family-heading: 'RobotoFlex';
}
